$DMSans-Regular: 'DMSans-Regular';
$DMSans-Medium: 'DMSans-Medium';
$DMSans-Bold: 'DMSans-Bold';
$DMSerifText-Regular: 'DMSerifText-Regular';
$DMSerifDisplay-Regular: 'DMSerifDisplay-Regular';

$color-black: #000;

$breackpoint-1248: 1248px;
$breackpoint-1024: 1024px;
$breackpoint-800: 800px;
$breackpoint-768: 768px;
$breackpoint-375: 375px;
