@font-face {
  font-family: 'DMSans-Regular';
  src: url('./../fonts/DMSans-Regular.woff2') format('woff2'),
       url('./../fonts/DMSans-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'DMSans-Medium';
  src: url('./../fonts/DMSans-Medium.woff2') format('woff2'),
       url('./../fonts/DMSans-Medium.woff') format('woff');
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'DMSans-Bold';
  src: url('./../fonts/DMSans-Bold.woff2') format('woff2'),
       url('./../fonts/DMSans-Bold.woff') format('woff');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'DMSerifText-Regular';
  src: url('./../fonts/DMSerifText-Regular.woff2') format('woff2'),
       url('./../fonts/DMSerifText-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'DMSerifDisplay-Regular';
  src: url('./../fonts/DMSerifDisplay-Regular.woff2') format('woff2'),
       url('./../fonts/DMSerifDisplay-Regular.woff') format('woff');
  font-style: normal;
  font-weight: 400;
}
